* {
    box-sizing: border-box;
}

:root {
    --primary-color: #2E80CE;
}

html {
    font-family: 'Sora', sans-serif;
    font-size: 62.5%;
}

/* ========= Common ========= */

.container {
    margin: 0 auto;
    width: 1170px;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 15px 46px;
    min-width: 65px;
    border-radius: 30px;
    background-color: var(--primary-color);
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6666666666666666667;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* ================= Header =============== */

.header {
    padding: 30px 0;
    background-color: #10375C;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top .navbar__list {
    display: flex;
    align-items: center;
}

.header-top .navbar__item {
    margin-left: 42px;
}

.header-top .navbar__link,
.header-top .action__link {
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.header-top .navbar__link:hover,
.header-top .action__link:hover {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.header-top .navbar__link--active {
    display: flex;
    align-items: center;
    color: #FFF;
    font-weight: 400;
}

.header-top .navbar__link--active::before {
    content: "";
    display: inline-block;
    margin-right: 8px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FFF;
}

.header-action__signup {
    margin-left: 28px;
    padding: 8px 20px;
    font-size: 1.6rem;
    border: none;
    border-radius: 22px;
    line-height: 1.75;
}


/* ==================== Hero ======================= */

.hero {
    display: flex;
    align-items: center;
    height: calc(100vh - 104px);
    padding-top: 46px;
}

.hero__content {
    max-width: 520px;
}

.hero__heading {
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    margin-bottom: 38px;
    color: #C9D2DA;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.hero__phone {
    margin-left: 38px;
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.hero__media {
    margin-left: auto;
}

.hero__images {
    display: flex;
    align-items: center;
}

.hero__image {
    border-radius: 6px;
    object-fit: cover;
}

.hero__image:first-child {
    width: 330px;
    height: 540px;
}

.hero__image:last-child {
    width: 210px;
    height: 410px;
    margin-left: -2px;
    margin-right: 6px;
}