* {
    box-sizing: border-box;
}

:root {
    --primary-color: #2E80CE;
    --second-color: #10375C;
}

html {
    font-family: 'Sora', sans-serif;
    font-size: 62.5%;
}

/* ========= Common ========= */

.container {
    margin: 0 auto;
    max-width: 1170px;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 15px 46px;
    min-width: 65px;
    border-radius: 30px;
    background-color: var(--primary-color);
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6666666666666666667;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* ================= Header =============== */

.header {
    padding: 30px 0;
    background-color: var(--second-color);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top .navbar__list {
    display: flex;
    align-items: center;
}

.header-top .navbar__item {
    margin-left: 42px;
}

.header-top .navbar__link,
.header-top .action__link {
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.header-top .navbar__link:hover,
.header-top .action__link:hover {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.header-top .navbar__link--active {
    display: flex;
    align-items: center;
    color: #FFF;
    font-weight: 400;
}

.header-top .navbar__link--active::before {
    content: "";
    display: inline-block;
    margin-right: 8px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FFF;
}

.header-action__signup {
    margin-left: 28px;
    padding: 8px 20px;
    font-size: 1.6rem;
    border: none;
    border-radius: 22px;
    line-height: 1.75;
}


/* ==================== Hero ======================= */

.hero {
    display: flex;
    align-items: center;
    height: calc(100vh - 104px);
    padding-top: 46px;
}

.hero__content {
    max-width: 520px;
}

.hero__heading {
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    margin-bottom: 38px;
    color: #C9D2DA;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.hero__phone {
    margin-left: 38px;
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.hero__media {
    margin-left: auto;
}

.hero__images {
    display: flex;
    align-items: center;
}

.hero__image {
    border-radius: 6px;
    object-fit: cover;
}

.hero__image:first-child {
    width: 330px;
    height: 540px;
}

.hero__image:last-child {
    width: 210px;
    height: 410px;
    margin-left: -2px;
    margin-right: 6px;
}

/* ===================== Service ================= */

.service {
    padding: 170px 0;
}

.service__heading {
    color: var(--second-color);
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.service__desc {
    margin: 18px auto 70px;
    max-width: 468px;
    color: #575F66;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.666666666667;
}

.service__column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__image {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service__list {
    margin-bottom: 55px;
}

.service__list .service-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 470px;
    padding-top: 21px;
    padding-bottom: 20px;
    padding-left: 22px;
}

.service__list .service-item:hover {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
    transition: 0.25s;
}

.service__list .service-item__icon {
    box-sizing: border-box;
    margin-right: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 88.45px;
    height: 60px;
    background-color: #EFF6FD;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
}

.service__list .service-item:hover .service-item__icon {
    background-color: var(--primary-color);
    transition: 0.25s;
}

.service__list .service-item:hover .service-item__icon path {
    fill: #FFF;
    transition: 0.25s;
}

.service__list .service-item__title {
    color: var(--second-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.26;
}

.service__list .service-item__desc {
    margin-top: 8px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.service-action__all-services {
    padding: 15px 48px;
}

/* ================ Work ===================== */

.work {
    padding: 100px 0;
    background-color: #F6FBFF;
}

.work__heading {
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.work__desc {
    margin-top: 18px;
    margin-bottom: 86px;
    max-width: 468px;
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.666666666667;
}

.work__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.work__list .work-item {
    padding: 43px 42px;
    border-radius: 4px;
    border: 16px solid #EAF6FF;
    transition: 0.25s;
}

.work__list .work-item:hover {
    border: 16px solid var(--primary-color);
    transform: translateY(-16px);
    transition: 0.25s;
}

.work__list .work-item__heading {
    margin-top: 18px;
    margin-bottom: 28px;
    color: var(--second-color);
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.385;
}

.work__list .work-item__desc {
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.work__list .work-item__learn-more {
    margin-top: 18px;
    display: inline-block;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

/* ============ Feature ============== */

.feature {
    padding: 170px 0;
}

.feature__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature__images {
    position: relative;
    width: 50%;
    height: 490px;
}

.feature__images .feature__image {
    border-radius: 6px;
    object-fit: cover;
}

.feature__images .feature__image:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 512px;
    height: 370px;
}

.feature__images .feature__image:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 332px;
    height: 370px;
}

.feature .feature__content {
    max-width: 468px;
}

.feature .feature__heading {
    color: var(--second-color);
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.feature .feature__desc {
    margin-top: 18px;
    margin-bottom: 38px;
    max-width: 468px;
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.666666666667;
}

/* ============= Member ================ */

.member {
    padding-bottom: 170px;
}

.member__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member__heading {
    color: var(--second-color);
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.member__action {
    margin-top: 38px;
    margin-bottom: 70px;
    padding: 15px 27px;
}

.member__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.member__list .member-item:hover .member-item__bg-img .member-item__img {
    transform: translateZ(0) scale(1.1);
    transition: 0.25s;
}

.member__list .member-item__bg-img {
    padding-top: 28px;
    border-radius: 6px;
    background-color: #EAF6FF;
    height: 318px;
    overflow: hidden;
}

.member__list .member-item__bg-img .member-item__img {
    display: block;
    width: 100%;
    height: 290px;
    border-radius: 6px;
    object-fit: cover;
    transition: 0.25s;
}

.member__list .member-item__name {
    margin-top: 12px;
    color: var(--second-color);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.member__list .member-item__title {
    color: #575F66;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.857;
}

.member__control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin-top: 38px;
}

.member__control .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 1px solid #575F66;
    border-radius: 50%;
    background-color: #FFF;
    cursor: pointer;
}

.member__control .control-btn:hover {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
}

.member__control .control-btn:hover path {
    stroke: #FFF;
}